@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wprapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dff1f7;
  font-family: "Comfortaa";
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  background-color: #adefff;
}

.menu__body {
  background-color: #adefff;
  color: #e7f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px 50px 0px 0px;
  min-height: 90px;
}

.menu__logo {
  margin: 0px 0px 0px 20px;
}

.menu__img {
  border-radius: 50%;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link-news {
  color: #e7f9ff;
}

.menu__link-catalog {
  color: #e7f9ff;
}

.menu__link-about {
  color: #e7f9ff;
}

.menu__link-contacts {
  color: #e7f9ff;
}

.menu__link {
  font-size: 23px;
  font-weight: 700;
  margin: 0px 40px 0px 120px;
}

.menu__link::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #f529b1;
  height: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main-block__body {
  background: #adefff;
  -webkit-box-shadow: 7px 7px 30px #f529b1;
          box-shadow: 7px 7px 30px #f529b1;
  border-radius: 50px;
  margin: 50px auto 20px auto;
}

.main-block__column {
  padding: 50px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main-block__subtitle {
  color: #e7f9ff;
  font-size: 40px;
  font-weight: 600;
}

.main-block__title {
  font-size: 150px;
  font-weight: 700;
  color: #e7f9ff;
  position: relative;
}

.main-block__title::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background-color: #f529b1;
  position: relative;
  top: -28px;
  left: 1030px;
}

.main-block__text {
  color: #e7f9ff;
  font-size: 32px;
  font-weight: 400;
  margin: 20px 0px 0px 200px;
  max-width: 1200px;
  text-align: center;
}

.main-block__quote {
  font-family: 'Marck Script', cursive;
  color: #f529b1;
  font-size: 20px;
  position: relative;
  top: -42px;
  left: 560px;
}

.main-block__span {
  position: relative;
  left: 46px;
}

.main-block__author {
  font-family: 'Marck Script', cursive;
  color: #f529b1;
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 618px;
}

.main-block__row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 130px 0px 0px 0px;
  margin: 0px 0px 50px 0px;
}

.main-block__btn {
  width: 240px;
  height: 50px;
  border-radius: 50px;
  background: #adefff;
  -webkit-box-shadow: 0px 5px 25px #9bd5e4, 0px -5px 25px #9bd5e4;
          box-shadow: 0px 5px 25px #9bd5e4, 0px -5px 25px #9bd5e4;
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 16px;
}

.main-block__btn:active {
  color: #e7f9ff;
  background: #bdf2ff;
  -webkit-box-shadow: inset 20px 20px 60px #a1ced9, inset -20px -20px 60px #d9ffff;
          box-shadow: inset 20px 20px 60px #a1ced9, inset -20px -20px 60px #d9ffff;
}

.main-block__btn--vk {
  color: #4281e0;
}

.main-block__btn--uds {
  color: #9442e0;
}

.main-block__btn--tg {
  color: #40b5e4;
}

.main-block__btn--wa {
  color: #21bb42;
}

.catalog__title {
  margin: 50px 0px 0px 0px;
  background-color: #adefff;
  border-radius: 50px 50px 0px 0px;
  padding: 30px 0px;
  text-shadow: 0px 0px 100px;
}

.catalog__title:hover {
  text-decoration: underline;
}

.catalog__link {
  color: #e7f9ff;
}

.catalog___link:visited {
  color: #e7f9ff;
}

.catalog__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #adefff;
  border-radius: 0px 0px 50px 50px;
}

.catalog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0px 15px;
  max-width: 340px;
  height: 380px;
  border-radius: 25px;
}

.catalog__img {
  width: 340px;
  height: 250px;
  border-radius: 25px;
  position: relative;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.catalog__subtitle {
  position: relative;
  top: -140px;
  text-align: center;
  color: #e7f9ff;
  font-size: 23px;
  font-weight: 700;
}

.about__title {
  margin: 50px 0px 0px 0px;
  background-color: #adefff;
  border-radius: 50px 50px 0px 0px;
  padding: 30px 0px;
}

.about__row {
  background-color: #adefff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__map {
  margin: 0px 0px 30px 30px;
  border-radius: 15px 0px 0px 15px;
  -webkit-box-shadow: 5px 5px 10px #f529b1;
          box-shadow: 5px 5px 10px #f529b1;
  overflow: hidden;
  min-width: 700px;
  max-height: 650px;
}

.about__column-text {
  margin: 0px 25px 10px 30px;
  font-size: 30px;
  font-weight: 700;
}

.about__adress {
  color: #e7f9ff;
}

.about__schedule-first {
  color: #e7f9ff;
  margin: 50px 0px 0px 0px;
}

.about__schedule-second {
  color: #e7f9ff;
  margin: 20px 0px 0px 0px;
}

.about__schedule-third {
  color: #e7f9ff;
  margin: 20px 0px 0px 0px;
}

.about__delivery-first {
  color: #e7f9ff;
  margin: 100px 0px 0px 0px;
}

.about__delivery-second {
  color: #e7f9ff;
  margin: 20px 0px 0px 0px;
}

.title {
  text-align: center;
  color: #e7f9ff;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  z-index: 0;
}

.footer__column {
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, #1c1c1c), to(#adefff));
  background: linear-gradient(0deg, black 0%, #1c1c1c 80%, #adefff 100%);
  padding: 200px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.footer__tel {
  color: #e7f9ff;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}

.footer__email {
  margin: 15px 0px 0px 0px;
  color: #e7f9ff;
  font-size: 48px;
  font-weight: 700;
}

.footer__adress {
  color: #e7f9ff;
  font-size: 18px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  margin: 30px 5px 110px 5px;
}

.footer__img {
  max-width: 45px;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #dcdcdc;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 4px #dcdcdc;
          box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.scroll-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: '↑';
}

.scroll-up:hover {
  color: #f529b1;
}

.scroll-up__svg-path {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: none;
  stroke: #f529b1;
  stroke-width: 4px;
  -webkit-transition: .2s;
  transition: .2s;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__logo {
    margin: 10px auto;
  }
  .menu__link {
    margin: 10px 40px;
  }
  .main-block__quote {
    left: 390px;
    top: -30px;
  }
  .main-block__author {
    left: 410px;
    top: -20px;
  }
  .main-block__row-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-block__btn {
    margin: 20px;
    width: 400px;
    height: 80px;
    font-size: 22px;
  }
  .catalog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 0px 290px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__map {
    max-width: 700px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__logo {
    margin: 10px auto;
  }
  .menu__link {
    margin: 10px 30px;
  }
  .main-block__title {
    font-size: 100px;
  }
  .main-block__quote {
    left: 280px;
    top: -20px;
  }
  .main-block__author {
    left: 300px;
    top: -10px;
  }
  .catalog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 0px 170px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__column-text {
    margin: 0px 0px 30px 60px;
  }
  .about__map {
    margin: 0px 0px 30px 150px;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .columns__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blocks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__logo {
    margin: 10px auto;
  }
  .menu__link {
    margin: 10px 20px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 460px;
  }
  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__logo {
    margin: 10px auto;
  }
  .menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin: 10px 30px;
  }
  .main-block__title {
    font-size: 70px;
  }
  .main-block__quote {
    left: 140px;
    top: -10px;
  }
  .main-block__author {
    left: 162px;
    top: 0px;
  }
  .main-block__text {
    font-size: 22px;
    margin: 0px 0px -100px 0px;
  }
  .catalog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 0px 30px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__column-text {
    margin: 0px 10px 30px 40px;
    font-size: 20px;
  }
  .about__map {
    margin: 0px 0px 30px 5px;
    width: 200px;
  }
  .footer__column {
    padding: 100px 0px 0px 0px;
  }
  .footer__tel {
    font-size: 20px;
    line-height: 25px;
  }
  .footer__email {
    font-size: 20px;
  }
}

@media (max-width: 460px) {
  .container {
    max-width: 440px;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: none;
  }
  .main-block__title {
    font-size: 70px;
  }
  .main-block__quote {
    left: 130px;
    top: 0px;
  }
  .main-block__author {
    left: 150px;
    top: 10px;
  }
  .main-block__text {
    width: 450px;
    font-size: 22px;
    margin: 0px 0px -100px 0px;
  }
  .main-block__btn {
    width: 310px;
    font-size: 18px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__column-text {
    margin: 0px 10px 30px 40px;
    font-size: 20px;
  }
  .about__map {
    margin: 0px 0px 30px 0px;
    width: 200px;
  }
}

@media (max-width: 414px) {
  .container {
    max-width: none;
  }
  .main-block__subtitle {
    font-size: 30px;
  }
  .main-block__title {
    font-size: 60px;
  }
  .main-block__quote {
    left: 120px;
    top: 0px;
  }
  .main-block__author {
    left: 140px;
    top: 10px;
  }
  .main-block__text {
    width: 450px;
    font-size: 22px;
    margin: 0px 0px -100px 0px;
  }
  .main-block__btn {
    width: 310px;
    font-size: 18px;
  }
  .catalog__row {
    margin: 0px 0px 0px 10px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__column-text {
    margin: 0px 20px 30px 40px;
    font-size: 20px;
  }
  .about__map {
    margin: 0px 0px 30px 0px;
    width: 414px;
  }
}

@media (max-width: 390px) {
  .container {
    max-width: none;
  }
  .main-block__subtitle {
    font-size: 30px;
  }
  .main-block__title {
    font-size: 60px;
  }
  .main-block__quote {
    left: 65px;
    top: 0px;
  }
  .main-block__author {
    left: 122px;
    top: 10px;
  }
  .main-block__text {
    width: 380px;
    font-size: 16px;
    margin: 30px 0px -100px 0px;
  }
  .main-block__btn {
    width: 310px;
    font-size: 18px;
  }
  .catalog__title {
    font-size: 50px;
  }
  .catalog__row {
    margin: 0px 0px 0px 10px;
  }
  .about__title {
    font-size: 50px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__column-text {
    margin: 0px 20px 30px 40px;
    font-size: 20px;
  }
  .about__map {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: none;
  }
  .main-block__subtitle {
    font-size: 30px;
  }
  .main-block__title {
    font-size: 60px;
  }
  .main-block__quote {
    left: 100px;
    top: 0px;
  }
  .main-block__author {
    left: 122px;
    top: 10px;
  }
  .main-block__text {
    width: 450px;
    font-size: 22px;
    margin: 0px 0px -100px -30px;
  }
  .main-block__btn {
    width: 310px;
    font-size: 18px;
  }
  .catalog__title {
    font-size: 50px;
  }
  .catalog__row {
    margin: 0px 0px 0px -10px;
  }
  .about__title {
    font-size: 50px;
  }
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__column-text {
    margin: 0px 20px 30px 40px;
    font-size: 20px;
  }
  .about__map {
    margin: 0px 0px 30px 0px;
  }
}
