/* nullstyle */

@import "nullstyle.css";

/* font */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
/* workspace */

html::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

html::-webkit-scrollbar-thumb {
    background: #adefff;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: inset 2px 2px 2px rgba(216, 240, 247, 0.25),inset -2px -2px 2px rgba(56, 56, 56, 0.25);
}

html::-webkit-scrollbar-track {
    background: #dff1f7;
}

body {
    font-family: 'Comfortaa', cursive;
    display: flex;
    background-color: #dff1f7;
    justify-content: center;
    min-width: 1210px;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 3538px;
    max-width: 100%;

}

.content {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-bottom: 0px;
    flex: 1 1 auto;
    width: 1920px;
    max-width: 1980px;

}

.menu {
    margin-top: 20px;
    height: 50px;
    width: 58%;
    border-radius: 50px;
    border: 3px solid #f529b1;
    position: fixed;
    background-color: #adefff;
    top: 0px;
    z-index: 1;
    color: #e7f9ff;
}

.menu__items {
    margin: -18px 0px 0px -3px;
    padding: 0px 30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 700;
}

.link__icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #f529b1;
}

.link__news {
    padding: 2px 15px 2px 15px;
    color: #e7f9ff;
    text-decoration: underline 2px #f529b100;
    transition: text-decoration-color 300ms;
}

.link__news:visited {
    color: #e7f9ff;
}

.link__news:hover {
    text-decoration: underline 2px #f529b100;
    text-decoration-color: #f529b1;
}

.link__catalog {
    padding: 2px 15px 2px 15px;
    color: #e7f9ff;
    text-decoration: underline 2px #f529b100;
    transition: text-decoration-color 300ms;
}

.link__catalog:visited {
    color: #e7f9ff;
}

.link__catalog:hover {
    text-decoration: underline 2px #f529b100;
    text-decoration-color: #f529b1;
}

.link__aboutus {
    padding: 2px 15px 2px 15px;
    color: #e7f9ff;
    text-decoration: underline 2px #f529b100;
    transition: text-decoration-color 300ms;
}

.link__aboutus:visited {
    color: #e7f9ff;
}

.link__aboutus:hover {
    text-decoration: underline 2px #f529b100;
    text-decoration-color: #f529b1;
}

.link__contacts {
    padding: 2px 15px 2px 15px;
    color: #e7f9ff;
    text-decoration: underline 2px #f529b100;
    transition: text-decoration-color 300ms;
}

.link__contacts:visited {
    color: #e7f9ff;
}

.link__contacts:hover {
    text-decoration: underline 2px #f529b100;
    text-decoration-color: #f529b1;
}

.header__items {
    display: flex;
    flex-direction: column;
    margin: -2px 0px 0px 0px;
    padding: 100px 0 0 0;
    max-width: 1200px;
    height: 700px;
    border-radius: 0px 0px 50px 50px;
    background: #adefff;
    box-shadow: 7px 7px 30px #f529b1;


}

.header__discription {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px -130px 0px;
    height: 50px;
    color: #e7f9ff;
    font-size: 35px;
    font-weight: 600;
}

.header__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0 0 0;
    font-size: 100px;
    font-weight: 700;
    text-transform: capitalize;
    color: #e7f9ff;
}

.underline {
    text-transform: lowercase;
    text-decoration: underline 4px #f529b1;

}

.header__quote {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin: -32px 0px 0px 820px;
    padding: 0px 20px 0px 0px;
    max-width: 350px;
    color: #f529b1;
    font-family: 'Marck Script', cursive;
    font-weight: 400;
    font-size: 20px;
}

.header__author {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 50px 0px 0px;

    color: #f529b1;
    font-weight: 400;
    font-family: 'Marck Script', cursive;
    font-size: 20px;
}

.header__text {
    margin: 40px 0px 0px 80px;
    display: flex;
    justify-items: center;
    max-width: 1010px;
    text-align: center;
    font-size: 22px;
    color: #e7f9ff;
}

.buttons__items {
    display: flex;
    justify-content: space-around;

    margin: 80px 0px 0px 0px;
    padding: 0px 30px 0px 30px;
}

.button__vk {
    text-transform: uppercase;
    text-align: center;
    color: #4281e0;
    font-weight: 700;
    padding: 17px 0 0 0;

    width: 240px;
    height: 50px;
    border-radius: 50px;
    background: #adefff;
    box-shadow: 0px 5px 25px #9bd5e4,
        0px -5px 25px #9bd5e4;
}

.button__vk:active {
    color: #e7f9ff;

    background: #bdf2ff;
    box-shadow: inset 20px 20px 60px #a1ced9,
        inset -20px -20px 60px #d9ffff;
}

.button__uds {
    text-transform: uppercase;
    text-align: center;
    color: #9442e0;
    font-weight: 700;
    padding: 17px 0 0 0;

    width: 240px;
    height: 50px;
    border-radius: 50px;
    background: #adefff;
    box-shadow: 0px 5px 25px #9bd5e4,
        0px -5px 25px #9bd5e4;
}

.button__uds:active {
    color: #e7f9ff;

    background: #bdf2ff;
    box-shadow: inset 20px 20px 60px #a1ced9,
        inset -20px -20px 60px #d9ffff;
}

.button__tg {
    text-transform: uppercase;
    text-align: center;
    color: #40b5e4;
    font-weight: 700;
    padding: 17px 0 0 0;

    width: 240px;
    height: 50px;
    border-radius: 50px;
    background: #adefff;
    box-shadow: 0px 5px 25px #9bd5e4,
        0px -5px 25px #9bd5e4;
}

.button__tg:active {
    color: #e7f9ff;

    background: #bdf2ff;
    box-shadow: inset 20px 20px 60px #a1ced9,
        inset -20px -20px 60px #d9ffff;
}

.button__wup {
    text-transform: uppercase;
    text-align: center;
    color: #21bb42;
    font-weight: 700;
    padding: 17px 0 0 0;

    width: 240px;
    height: 50px;
    border-radius: 50px;
    background: #adefff;
    box-shadow: 0px 5px 25px #9bd5e4,
        0px -5px 25px #9bd5e4;
}

.button__wup:active {
    color: #e7f9ff;

    background: #bdf2ff;
    box-shadow: inset 20px 20px 60px #a1ced9,
        inset -20px -20px 60px #d9ffff;
}


.news__header {
    margin: 150px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 80px;
    width: 1200px;
    font-size: 54px;

    font-weight: 700;
    background-color: #adefff;
    border-radius: 50px;
}

.news__headertext {
    color: #e7f9ff;
    clip-path: inset(0 0.9ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}


.catalog__container {
    margin: 100px 0px 0px 0px;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;

}



.catalog__header {
    margin-bottom: -20px;
    padding: 5px;
    height: 80px;
    width: 1000px;
    font-size: 54px;
    color: #e7f9ff;
    font-weight: 700;
    background-color: #adefff;
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    text-decoration: underline 3px #f529b100;
    transition: text-decoration-color 300ms;
}

.catalog__header:hover {
    text-decoration-color: #f529b1;
}

.catalog__items {
    margin: 0px 0px 0px 0px;
    width: 1200px;
    height: 100%;
    padding: 40px 60px 10px 60px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #adefff;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 10px 60px 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    overflow: hidden;

}

.card__imagine {
    position: absolute;
    width: 340px;
    height: 260px;
    border-radius: 25px;

}


.card__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 260px;
    padding: 100px 0px 0px 0px;
    text-align: center;
    position: absolute;
    color: #d9ffff00;
    border-radius: 25px;

}

.card__items:hover {
    color: #e7f9ff;
    background: #504e4e79;
    padding: 0px;
    z-index: 0;
    border-radius: 25px;
    transition: 1s;


}

.card__header {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 25px;
}

.card__text {
    margin: 0 2px 0 2px;
}

.aboutus {
    margin-top: 70px;
    width: 1200px;
    height: 700px;
    background-color: #adefff;
    border-radius: 50px;
    box-shadow: 7px 7px 30px #f529b1;
    padding: 25px;

}

.aboutus__items {
    color: #e7f9ff;
    font-weight: 700;
    display: flex;
    flex-direction: raw;
}

.aboutus__map {
    min-width: 450px;
    overflow: hidden;
    box-shadow: 5px 5px 10px #f529b1;
    border-radius: 15px 0px 0px 15px;
}

.aboutus__textitems {
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 20px;
    color: #e7f9ff;
    font-size: 26px;
}

.aboutus__header {
    font-size: 72px;
}

.aboutus__adress {
    margin-top: 30px;
}

.aboutus__schedule {
    margin-top: 30px;
}

.aboutus__delivery {
    margin-top: 140px;
}

.aboutus__cdelivery {
    margin-top: 140px;
}

.contacts {
    z-index: -1;
    margin-top: -20px;
    width: 1200px;
    height: 700px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(28, 28, 28, 1) 80%, rgba(255, 255, 255, 0.22592787114845936) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contacts__numbers {
    color: #e7f9ff;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 40px;
}

.contacts__adress {
    color: #e7f9ff;
    font-size: 18px;
}

.contacts__links {
    z-index: unset;
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 100px;
    margin: -160px;

}

.vk {
    width: 45px;
    height: 45px;

}

.tg {
    width: 45px;
    height: 45px;
}

.wu {
    width: 45px;
    height: 45px;
}
